body {
    background-color: rgba(255, 0, 0, 1);
}

.jumbotron {
    background-color: rgba(255, 0, 0, 1);
}


/* Begin Nav */

nav {
    position: relative;
    bottom: 35px;
}

nav ul {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px 0px 15px 0px;
}

nav ul li {
    width: 16%;
    border: 1px white solid;
    background-color: black;
}

nav ul li a {
    color: green;
    font-size: 1em;
}

nav ul li a:hover {
    color: white;
    border: 1px white thin;
}


/* Section CSS, replace eventually? */

section {
    position: relative;
    bottom: 35px;
}

section div {
    background-color: white;
}


/* Begin Footer */

footer {
    position: relative;
    bottom: 35px;
    background-color: black;
}

footer a:hover {
    color: white;
}


/* .radioalign is applied to radio buttons on register.html */

.radioalign {
    position: relative;
    bottom: 10px;
}


/* 700px determined through testing to be optimal size for font/nav reduction */

@media (max-width: 700px) {
    nav ul li {
        width: 16%;
    }
    nav ul li a {
        font-size: 0.75em;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.0em;
    }
    p {
        font-size: 0.7em;
    }
    label,
    legend,
    option {
        font-size: 0.7em;
    }
    table {
        font-size: 0.7em;
    }
    footer {
        font-size: 0.7em;
    }
}