body {
    background-color: gray;
}

.jumbotron {
    background-color: rgba(255, 0, 0, .75);
}

nav {
    position: relative;
    bottom: 35px;
}

nav ul {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px 0px 15px 0px;
}

nav ul li {
    width: 18%;
}

nav ul li a {
    color: green;
    font-size: 1em;
}

nav ul li a:hover {
    color: white;
}

@media (max-width: 700px) {
    nav ul li {
        width: 20%;
    }
    nav ul li a {
        font-size: 0.75em;
    }
    h2 {
        font-size: 1.0em;
    }
    p {
        font-size: 0.7em;
    }
}