/* Red Background Color */

body,
.jumbotron {
    background-color: rgba(255, 0, 0, 1);
}


/* Nav Spacing */

nav ul li {
    width: 16%;
}


/* Nav, Section, and Footer Positioning */

main {
    bottom: 35px;
}


/* Radio Button Positioning - .radioalign is applied to radio buttons on register.html */

.radioalign {
    bottom: 10px;
}


/* Nav and Footer Hover Classes */

nav ul li a:hover {
    background-color: black;
}

footer a:hover {
    color: white;
}


/* Media Queries

900px - Landscape: Pixel 2 XL, iPhone X. Portrait: iPad   */

@media (max-width: 900px) {
    nav ul li a {
        font-size: 0.85em;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    p {
        font-size: 0.8em;
    }
    label,
    legend,
    option {
        font-size: 0.8em;
    }
    table {
        font-size: 0.8em;
    }
    footer {
        font-size: 0.8em;
    }
}


/* 740px - Landscape: Galaxy S5, Pixel 2, iPhone 5/6/7/8/8+  */

@media (max-width: 740px) {
    nav ul li a {
        font-size: 0.75em;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        font-size: 1.0em;
    }
    p {
        font-size: 0.7em;
    }
    label,
    legend,
    option {
        font-size: 0.7em;
    }
    table {
        font-size: 0.7em;
    }
    footer {
        font-size: 0.7em;
    }
}


/* 420px - Portrait: Galaxy S5, Pixel 2/2 XL, iPhone 5/6/7/8/8+/X  */

@media (max-width: 420px) {
    nav ul li a {
        font-size: 0.45em;
    }
    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 0.9em;
    }
    h3 {
        font-size: 0.7em;
    }
    p {
        font-size: 0.4em;
    }
    label,
    legend,
    option {
        font-size: 0.4em;
    }
    table {
        font-size: 0.4em;
    }
    footer {
        font-size: 0.4em;
    }
}